#app{
	display: flex;
	flex-direction: row;
}

.game{
	display: inline-flex;
	background-color:aliceblue;
	margin: 16px;
	padding: 8px 16px;
	flex-direction: row;
}

.teams{
	display: inline-flex;
	flex-direction: row;
	color: #fff;
	text-align: center;
	margin-left: 40px;
	font-size: 1.5em;
}

.game div, .teams div{
	align-self:center;
}

.team-name{
	color:#356da0;
	margin-top: 45px;
    font-size: 2.2em;
}
	
.align-left .team-name{
	float:left;
}	

.align-left figure{
	float: left;
}

figcaption.record{
	text-align: center;
}

figure.logo{
	margin: 16px;
}

figure.logo img{
	width:80px;
}

.featured figure.logo img{
	width: 240px;
	margin:16px;
}

.featured .team-name{
	display: none;	
}

.align-right figure{
	float: right;
}

.align-right .team-name{
	float:right;
}

.featured{
	margin:16px;
	background: url('/img/background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 -200px;
    height: 500px;
}

#activeDownloads {
    min-height: 300px;
    width: 40%;
    position: absolute;
    right: 0;
    margin: 30px;
    border-radius: 3px;
    border: 1px solid white;
}
